<div class="container">

    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Editando Diploma</h3>
            </div>


            <div class="card-body">

                <form action="/diploma/edit/{{diplomaEdit._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <input type="text" name="usuariodiploma" class="form-control" placeholder="Usuario"
                            value="{{diplomaEdit.usuario}}" autofocus>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="tipodiploma" class="form-control" placeholder="Tipo diploma"
                            value="{{diplomaEdit.tipoDiploma}}">
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="urldiploma" value="{{diplomaEdit.urlDiploma}}">
                        <label for="selectedpdf">{{diplomaEdit.urlDiploma}}</label>
                        <input type="file" accept=".pdf" name="selectedpdf" id="selectedpdf" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <label for="descargadodiploma">Diploma descargado </label>
                        <input type="checkbox" id="descargadodiploma" name="descargadodiploma" class="form-control" {{checked}}>
                    </div>
                    <div class="froom-group">
                        <button class="btn btn-primary btn-block">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>